
body {
    background-color: #F7F7F2;
}

.listItem {
    padding: 7px;
    color: #260C1A;
    background-color: #ADEBE5;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #260C1A;
    display: inline-block;
}